<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<h1>Users</h1>

<a href="/users/form">➕ Add User</a>

<form method="get" action="/users">
    <input type="text" name="search" placeholder="Search by first name"/>
    <button type="submit">Search</button>
</form>

<br/>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Actions</th>
    </tr>

    <tr th:each="u : ${users}">
        <td th:text="${u.firstName}"></td>
        <td th:text="${u.lastName}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.phone}"></td>
        <td th:text="${u.birthDate}"></td>

        <td>
            <a th:href="@{'/users/form/' + ${u.id}}">Edit</a>
            <a th:href="@{'/users/delete/' + ${u.id}}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>